bin/
platform/
BattlEye/

changelist.txt
crash_handler
srcds.exe
srcds_linux
srcds_osx
srcds_osx64
srcds_run
srcds_x64.exe
steam_appid.txt
steamclient.dll
steamclient64.dll
thirdpartylegalnotices.txt
tier0_s.dll
tier0_s64.dll
vstdlib_s.dll
vstdlib_s64.dll

*.bsp
*.nav
*.vpk
*.log
*.cache
